/* Mevcut site.css dosyanýzda aþaðýya ekleyin */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Yeni eklemeler */

/* Navbar'ýn tüm arka planýný pembe yapmak için */
.navbar {
    background-color: pink !important;
}

    /* Navbar linklerinin renklerini ayarlamak için */
    .navbar .nav-link {
        color: black !important;
    }

    /* Navbar'ýn kendisinin hover durumlarý için */
    .navbar:hover {
        background-color: pink !important;
    }
  

    .navbar .navbar-brand {
        color: black !important;
    }
